.header
{
display: flex;
background-color: gray;
color: white;
justify-content: center;
align-items: center;
padding: 2px;
padding-right: 20px;
}

.heading{
    display: flex;
    font-size: 5vh;
}
.logo{
    height: 5vh;
    margin: .5vh;
    padding:0 3vw;
    margin-right: 3px;
}